/* Reset browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-main{
    height: 847px;
    width: 100%;
    background-color: red;
    padding-top: 31px;
}

.header {
    width: 1320px;
    height: 113px;
    margin: auto;
    /* margin-top: 31px; */
    background-color: aqua;
}

.icon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 20px;
    height: 20px;
    left: 0px;
}

.user button{
    background-color: aqua;
    border: none;
    cursor: pointer;
    right: 0px;
    margin-left: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 31px;
    height: 15px;
}

.logo p{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}